<div class="banner text-center" id="accueil">
  <div class="banner-shadow"></div>
  <div class="banner-content-container">
    <div class="banner-content">
      <h1>Vos candidats mis à nu</h1>
      <h2>Régionales 2015 sur Twitter en Île de France</h2>
      <div class="btn-marged text-center">
        <%= link_to "Comparer les candidats", compare_path, class: "btn btn-danger" %>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xs-4">
            <div class="banner-data">
              <%= image_tag 'white_pie.png', class:"banner-icon" %>
              <p class="hidden-xs">Analysez leurs messages</p>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="banner-data">
              <%= image_tag 'white_network.png', class:"banner-icon" %>
              <p class="hidden-xs">Explorez leurs communautés</p>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="banner-data">
              <%= image_tag 'white_bird.png', class:"banner-icon"%>
              <p class="hidden-xs">Evaluez leurs performances</p>
            </div>
          </div>
        </div>
      </div>
      <div class="banner-form">
        <%= simple_form_for :search, url: candidates_path, method: :get do |f| %>
          <div class="banner-form-direction">
            <div class="banner-form-marged">
              <%= f.input :name, as: :select, collection: Candidate.order(:name), label: false, prompt: "Trouver votre candidat..." %>
            </div>
            <div class="banner-form-marged">
              <%= f.button :submit, "Chercher", class: "btn btn-info" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="home-preview">
    <div class="floating">
      <p>Voir les candidats</p>
      <p><i class="fa fa-angle-double-down"></i></p>
    </div>
    <%= link_to "", "#liste-candidats", class: "home-preview-link" %>
  </div>
</div>
