<div class="banner text-center" id="accueil">
  <div class="banner-shadow"></div>
  <div class="banner-content">
    <h1>vos candidats aux éléctions<br>sur twitter</h1>
    <h2>Régionales 2015 en Île de France</h2>
    <%= simple_form_for :search, url: candidates_path, method: :get do |f| %>
      <div class="banner-form">
        <div class="banner-form-marged">
          <%= f.input :name, as: :select, collection: Candidate.order(:name), label: false, prompt: "Trouvez votre candidat..." %>
        </div>
        <div class="banner-form-marged">
          <%= f.button :submit, "Chercher", class: "btn btn-info" %>
        </div>
      </div>
    <% end %>
    <div class="container">
      <div class="row">
        <div class="col-xs-4">
          <div class="banner-data">
            <%= image_tag 'white_pie.png', height:"100", class:"banner-icon" %>
            <p class="text hidden-xs">Leur message explicité</p>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="banner-data">
            <%= image_tag 'white_network.png', height:"100", class:"banner-icon" %>
            <p class="text hidden-xs">Leurs communautés explorées</p>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="banner-data">
            <%= image_tag 'white_bird.png', height:"100", class:"banner-icon"%>
            <p class="text hidden-xs">Leur twitter décortiqué</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="home-preview">
    <div class="floating">
      <p>Voir les candidats</p>
      <p><i class="fa fa-angle-double-down"></i></p>
    </div>
    <%= link_to "", "#liste-candidats", class: "home-preview-link" %>
  </div>
</div>
