<div class="banner text-center">
  <div class="banner-shadow"></div>
  <div class="banner-content">
    <h1>IMPACT</h1>
    <h2>VOS CANDIDATS SUR TWITTER</h2>
    <div class="container">
      <div class="row">
        <div class="col-xs-4">
          <div class="banner-data">
            <%= image_tag 'white_pie.png', height:"100", class:"banner-icon" %>
            <p class="text hidden-xs">Comprendre leur message</p>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="banner-data">
            <%= image_tag 'white_network.png', height:"100", class:"banner-icon" %>
            <p class="text hidden-xs">Comprendre leur communauté</p>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="banner-data">
            <%= image_tag 'white_bird.png', height:"100", class:"banner-icon"%>
            <p class="text hidden-xs">Comprendre leur piou piou</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="home-preview">
    <% @candidates.each do |candidate| %>
      <div class="home-preview-candidate" style="background-image: url(<%= candidate.picture %>)">
        <%= link_to "", "#", class: "home-preview-candidate-shadow" %>
      </div>
    <% end %>
  </div>
</div>
