<div class="banner text-center">
  <div class="banner-shadow"></div>
  <div class="banner-content">
    <h1>DECOUVRIR & <span>C</span>OMPRENDRE<br>VOS <span>C</span>ANDIDATS SUR <span>T</span>WITTER</h1>
    <h2>REGIONALES 2015 - Île de France</h2>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
          <%= simple_form_for :search, url: candidates_path, method: :get do |f| %>
            <%= f.input :name, label: false, placeholder: "Cherchez un nom de candidat" %>
            <%= f.button :submit, "Chercher!", class: "btn btn-info" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-4">
          <div class="banner-data">
            <%= image_tag 'white_pie.png', height:"100", class:"banner-icon" %>
            <p class="text hidden-xs">Comprendre leur message</p>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="banner-data">
            <%= image_tag 'white_network.png', height:"100", class:"banner-icon" %>
            <p class="text hidden-xs">Comprendre leur communauté</p>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="banner-data">
            <%= image_tag 'white_bird.png', height:"100", class:"banner-icon"%>
            <p class="text hidden-xs">Comprendre leur piou piou</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="home-preview">
    <div class="floating">
      <p>Voir tous les candidats</p>
      <p><i class="fa fa-angle-down"></i></p>
    </div>
    <%= link_to "", "#candidates-list", class: "home-preview-link" %>
  </div>
</div>
