<nav class="navbar">
  <div class="container navbar-container">
      <%= link_to root_path, class: "navbar-item navbar-link" do %>
      <div class="navbar-header navbar-link">
        <h1>IMPACT</h1>
      </div>
      <% end %>

    <!-- <form action="" class="navbar-search">
      <input type="text" class="navbar-search-input" placeholder="ex: Claude Bartolone...">
      <button type="submit" class="navbar-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form> -->
    <div class= "end-links">
<!--       <%= link_to "Accueil", root_path << "#accueil", class: "navbar-item navbar-link" %>
      <hr> -->
      <%= link_to "Comparer", compare_path, class: "navbar-item navbar-link #{params['action'] == 'compare' ? 'navbar-link-red' : ''}" %>
      <hr>
      <%= link_to "Candidats", root_path << "#liste-candidats", class: "navbar-item navbar-link" %>
  <!--     <div class="navbar-item navbar-link">
        <div class="dropdown">
          <a href="" class="navbar-item navbar-link dropdown-toggle" data-toggle="dropdown">Candidats</a>
          <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
            <li><a href="" class="navbar-item navbar-link">Analysez</a>
            </li>
            <li><a href="" class="navbar-item navbar-link">Comparez</a>
            </li>
          </ul>
        </div>
      </div> -->
      <hr>

      <%= link_to "À propos", root_path << "#a-propos", class: "navbar-item navbar-link" %>
      <hr>
      <%= link_to "équipe", root_path << "#team", class: "navbar-item navbar-link" %>
    </div>
<!--
  <div class="social-link">
    <%= link_to "https://www.facebook.com/", target: "_blank" do %><i class="navbar-item navbar-link fa fa-facebook"></i><% end %>
    <%= link_to "https://twitter.com/", target: "_blank" do %><i class="navbar-item navbar-link fa fa-twitter"></i><% end %>
  </div> -->

</nav>

<!--  -->
