<div id="home-body"></div>
<%= render 'shared/banner' %>
<div id="home-content">
  <div class="container text-center">
    <div class="padded" id="candidates-list"></div>
    <div class="row">
      <% @candidates.each do |candidate| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="candidate-card" style="background-image: url(<%= candidate.picture %>)">
            <%= link_to candidate_path(candidate.id), class: "candidate-card-shadow" do %>
              <h4><%= candidate.name %></h4>
              <h5>@<%= candidate.screen_name %></h5>
              <p><%= candidate.party %></p>
<!--               <p><%= candidate.tweets_count %> <b>tweets</b></p>
              <p><%= candidate.followers_count %> <b>followers</b></p>
              <p>Depuis <%= candidate.account_creation.strftime("%m/%Y") %></p> -->
            <% end %>
            <!-- <%= image_tag candidate.picture, class: "candidate-card-image" %> -->
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
