<%= render 'shared/banner' %>
<!-- give access to next section "candidates" -->
<div class="home-content home-content-white" id="liste-candidats">
  <div class="link-back link-back-dark text-center">
    <%= link_to root_path << "#accueil" do %>
      <i class="fa fa-angle-up"></i>
    <% end %>
  </div>
  <!-- display all candidates -->
  <div class="container text-center">
    <div class="row">
      <% @candidates.each do |candidate| %>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
          <div class="candidate-card pulsed">
            <%= image_tag candidate.picture, class: "candidate-card"%>
            <%= link_to candidate_path(candidate.id), class: "candidate-card-shadow" do %>
              <h4><%= candidate.name %></h4>
              <h5>@<%= candidate.screen_name %></h5>
              <p><%= candidate.party %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <span id="a-propos"></span>
</div>
<!-- give access to accueil -->
<div class="home-content home-content-blue">
  <div class="link-back link-back-white text-center">
    <%= link_to root_path << "#accueil" do %>
      <i class="fa fa-angle-up"></i>
    <% end %>
  </div>
  <!-- content section "A propos" -->
  <div class="container text-center">
      <div class="row">
        <div class="col-xs-12 col-md-6-offset-6">
          <div class="home-data">
            <h3>Impact décortique les comptes Twitter des candidats aux élections régionales pour vous en offrir une vision claire et synthétique</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="home-data">
            <%= image_tag 'white_pie.png', class:"banner-icon" %>
            <h5>Analysez leurs messages</h5>
            <p>Découvrez ses hashtags favoris, analysez l'impact de son message.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="home-data">
            <%= image_tag 'white_network.png', class:"banner-icon" %>
            <h5>Explorez leurs communautés</h5>
            <p>Qui sont ses followers? Qui diffuse son message?</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="home-data">
            <%= image_tag 'white_bird.png', class:"banner-icon"%>
            <h5>Evaluez leurs performances</h5>
            <p>Mettez vos candidats face à face. Qui maitrise Twitter?</p>
            <br>
            <%= link_to "Comparer les candidats", compare_path, class: "btn btn-danger" %>
          </div>
        </div>
    </div>
  </div>
</div>

<!-- TWITTER FEED -->
<div class="home-content home-content-white" id="feed">
  <div class="title text-center">
    <h2>Les tweets des candidats en direct :</h2>
  </div>
  <!-- give access to accueil -->
  <div class="link-back link-back-dark text-center">
    <%= link_to root_path << "#accueil" do %>
      <i class="fa fa-angle-up"></i>
    <% end %>
  </div>

  <div class="container text-center">
      <div class="row">
      <!-- TWITTER FEED -->
        <div class="col-xs-12">
          <div class="banner-data">
            <a class="twitter-timeline" href="https://twitter.com/nicknem92/lists/r-gionales-2015" data-widget-id="641272032743804932">Tweets de https://twitter.com/nicknem92/lists/r-gionales-2015</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </div>
        </div>
      </div>
    </div>
  </div>
  <span id="team"></span>
</div>

<!-- Contacts -->

<div class="home-content home-content-blue">
  <div class="title text-center">
    <h2>Equipe</h2>
  </div>

  <div class="link-back link-back-white text-center">
    <%= link_to root_path << "#accueil" do %>
      <i class="fa fa-angle-up"></i>
    <% end %>
  </div>

  <div class="container text-center">
      <div class="row">
      <!-- manu -->
        <div class="col-xs-12 col-sm-3">
          <div class="candidate-card pulsed">
            <%= image_tag 'https://avatars0.githubusercontent.com/u/13184961?v=3&s=400', class: "candidate-card" %>
            <%= link_to "https://github.com/ManuKpL", target: :_blank, class: "candidate-card-shadow" do %>
              <h5>Manu</h5>
              <p>Lead developer</p>
            <% end %>
          </div>
        </div>

        <!-- alice -->
        <div class="col-xs-12 col-sm-3">
          <div class="candidate-card pulsed">
            <%= image_tag 'https://avatars2.githubusercontent.com/u/8080784?v=3&s=400', class: "candidate-card" %>
            <%= link_to "https://github.com/alicemomo", target: :_blank, class: "candidate-card-shadow" do %>
              <h5>Alice</h5>
              <p>Lead datavizer</p>
            <% end %>
          </div>
        </div>

        <!-- vincent -->
        <div class="col-xs-12 col-sm-3">
          <div class="candidate-card pulsed">
            <%= image_tag 'https://avatars3.githubusercontent.com/u/13312958?v=3&s=400 ', class: "candidate-card" %>
            <%= link_to "https://github.com/vincentpons", target: :_blank, class: "candidate-card-shadow" do %>
              <h5>Vincent</h5>
              <p>Lead designer</p>
            <% end %>
          </div>
        </div>

        <!-- antonin -->
        <div class="col-xs-12 col-sm-3">
          <div class="candidate-card pulsed">
            <%= image_tag 'https://avatars3.githubusercontent.com/u/9062545?v=3&s=400', class: "candidate-card" %>
            <%= link_to "https://github.com/nicknem", target: :_blank, class: "candidate-card-shadow" do %>
              <h5>Antonin</h5>
              <p>Lead team-builder</p>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>
