<div class="banner text-center">
  <div class="banner-shadow"></div>
  <div class="banner-content">
    <p>EN UN CLIC, TOUT CE QU'IL FAUT SAVOIR SUR LA CAMPAGNE TWITTER DES CANDIDATS AUX REGIONALES 2015</p>
    div.banner-
    <%= image_tag 'pie.png', class:"banner-icon" %>
    <%= image_tag 'network.png', class:"banner-icon" %>
    <%= image_tag 'bird.png', class:"banner-icon" %>
    <p>55% des candidats</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @candidates.each do |candidate| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <%= image_tag candidate.picture, class:"card-user" %>
          <h1 class="card-text"><%= candidate.name %></h1>
        </div>
      </div>
    <% end %>
  </div>
</div>

