<!-- THIS IS THE CANDIDATE SHOW VIEW -->
<div class="padded-top">
<!-- navigation arrows -->
<div class="container-fluid profile">
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <div class="candidate-nav text-center">
        <%=link_to "Previous", candidate_path(@previous_id)%>
      </div>
    </div>

    <div class="col-xs-6 col-md-4 col-md-offset-4">
      <div class="candidate-nav text-center">
        <%=link_to "Next", candidate_path(@next_id)%>
      </div>
    </div>
  </div>

  <!-- name and party -->
  <div class="row">
    <div class="class profile">
      <div class="profile profile-name text-center">
        <h3><%= @candidate.name %></h3>
        <h4><%= @candidate.party %></h4>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- profile picture-->
    <div class="col-xs-12 col-sm-2 col-sm-offset-1">
      <%= image_tag @candidate.picture, class: "img-responsive img-rounded" %>
    </div>

    <!-- profile infos -->
    <div class="col-xs-12 col-sm-5">
      <div class="profile profile-info">
        <span id="screen-name"><p>@<%=@candidate.screen_name %></p></span>
        <p><%= @candidate.description %></p>
      </div>
    </div>

    <!-- info metrics -->
    <div class="col-xs-12 col-sm-3">
      <div class="profile profile-metrics">
        <ul class="list-unstyled text-left">
          <li><i class="fa fa-twitter"></i><span class="metric-odd"> <%= @candidate.tweets_count%> </span>Tweets</li>
          <li><i class="fa fa-clock-o"></i> créé le <span class="metric-even"><%= @candidate.account_creation%></span></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- SON COMPTE -->
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="card-stats">
        <div class="row">
          <div class="cols-xs-12 col-sm-6">
            <h2>Influence de ses tweets</h2>
            <ul>
              <li><%= @retweets_on_candidate.average %> retweets/tweet <span class="label label-default"><strong><%= @retweets_on_candidate.percentage %>%</strong> des tweets retweetés</span></li>
              <li><%= @favorites_on_candidate.average %> favoris en moyenne <span class="label label-default"><%= @favorites_on_candidate.percentage %>% des tweets sont mis en favoris</span></li>
            </ul>
          </div>

          <div class="col-sm-6">
            <h2 class="pull-right">TOP WORDS Hashtags (nombre d'occurences)</h2>
            <svg class="chart" id="tweet-hashtags">
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- SES INTERACTIONS -->
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="card-stats">
        <div class="row">
          <div class="cols-xs-12 col-sm-6">
            <h2>Ses interactions</h2>
            <ul>
              <li><%= @candidate_retweets.average %> retweets <span class="label label-default"><%= @candidate_retweets.percentage %>% de ses tweets sont des retweets</span></li>
              <li>User le plus retweeté par le candidat : @<%= @users_retweeted_by_candidate.first[:content] %></li>
            </ul>
          </div>

          <div class="col-sm-6">
            <h2 class="pull-right">TOP WORDS Mentions (nombre d'occurences)</h2>
            <svg class="chart" id="tweet-mentions">
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>


 <!--  Sa communauté -->
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="card-stats">
        <div class="row">
          <div class="cols-xs-12 col-sm-6">
            <h2>Sa communauté</h2>
            <h3>Activité</h3>
            <ul>
              <li><%= @followers_tweets.average %> tweets par follower.</li>
              <li><%= @followers_tweets.percentage %>% ont tweeté plus de 2000 fois.</li>
            </ul>
            <h3>Influence</h3>
            <ul>
              <li>Chaque follower possède en moyenne <%= @followers_followers.average %> followers</li>
              <li><%= @followers_followers.percentage %>% des followers ont plus de 1000 followers</li>
              <li>Ils appartiennent en moyenne à <%= @lists_containing_followers.average %> listes</li>
              <li><%= @lists_containing_followers.percentage %>% des followers sont dans au moins 20 listes</li>
            </ul>
          </div>

          <div class="col-sm-6">
            <h2 class="pull-right">TOP WORDS Bio Followers (nombre d'occurences)</h2>
            <svg class="chart" id="bio-followers">
            </svg>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>



<!-- JS pour les charts -->

<!-- Chart #tweet-hashtags -->
<% content_for(:after_js) do %>
  <script>

    if (window.innerWidth < 768) {
      var chartWidth = window.innerWidth * 0.9;
    }
    else {
      var chartWidth = window.innerWidth * 0.4;
    }

    var barHeight = 25;

    var data = <%= @hashtags_in_tweets.take(10).to_json.html_safe %>;
    var max = <%= @hashtags_in_tweets.take(10).map {|word| word[:count] }.max %>;
    var count = 10;

    var x = d3.scale.linear().domain([0, max]).range([0, chartWidth]);
    var colors = d3.scale.linear().domain([0, max]).range(["#5778c1","#3E5A9A"]);

    var chart = d3.select("#tweet-hashtags")
        .attr("width", chartWidth)
        .attr("height", count * (barHeight + 10));

    var bar = chart.selectAll("g")
        .data(data)
        .enter().append("g")
        .attr("transform", function(d, i) { return "translate(0," + i * barHeight + ")"; });

    bar.append("rect")
        .attr("height", barHeight)
        .attr("y", function(d,i) {
          return i * 10;
        })
        .attr("x", function(d) { return chartWidth - x(d["count"]); })
        .attr("width", function(d) {
          return x(d["count"]) - 20;
        })
        .attr("fill", function(d){ return colors(d["count"]); });

    bar.append("text")
        .attr("x", function(d) { return chartWidth - 25; })
        .attr("y", function(d,i) {
          return (i*10) + barHeight * 0.5;
        })
        .attr("text-anchor", "end")
        .attr("dy", ".35em")
        .text(function(d) { return d["content"] + " (" + d["count"] + ")"; });

  </script>
<% end %>

<!-- Chart #tweets-mentions -->
<% content_for(:after_js) do %>
  <script>

    if (window.innerWidth < 768) {
      var chartWidth = window.innerWidth * 0.9;
    }
    else {
      var chartWidth = window.innerWidth * 0.4;
    }

    var barHeight = 25;

    var data = <%= @top_candidate_mentions.take(10).to_json.html_safe %>;
    var max = <%= @top_candidate_mentions.take(10).map {|word| word[:count] }.max %>;
    var count = 10;

    var x = d3.scale.linear().domain([0, max]).range([0, chartWidth]);
    var colors = d3.scale.linear().domain([0, max]).range(["#e8848e", "#D44D5C"]);

    var chart = d3.select("#tweet-mentions")
        .attr("width", chartWidth)
        .attr("height", count * (barHeight + 10));

    var bar = chart.selectAll("g")
        .data(data)
        .enter().append("g")
        .attr("transform", function(d, i) { return "translate(0," + i * barHeight + ")"; });

    bar.append("rect")
        .attr("height", barHeight)
        .attr("y", function(d,i) {
          return i * 10;
        })
        .attr("x", function(d) { return chartWidth - x(d["count"]); })
        .attr("width", function(d) {
          return x(d["count"]) - 20;
        })
        .attr("fill", function(d){ return colors(d["count"]); });

    bar.append("text")
        .attr("x", function(d) { return chartWidth - 25; })
        .attr("y", function(d,i) {
          return (i*10) + barHeight * 0.5;
        })
        .attr("text-anchor", "end")
        .attr("dy", ".35em")
        .text(function(d) { return d["content"] + " (" + d["count"] + ")"; });

  </script>
<% end %>

<!-- Chart #bio-followers -->
<% content_for(:after_js) do %>
  <script>

    if (window.innerWidth < 768) {
      var chartWidth = window.innerWidth * 0.9;
    }
    else {
      var chartWidth = window.innerWidth * 0.4;
    }

    var barHeight = 25;

    var data = <%= @topwords_bio.take(10).to_json.html_safe %>;
    var max = <%= @topwords_bio.take(10).map {|word| word[:count] }.max %>;
    var count = 10;

    var x = d3.scale.linear().domain([0, max]).range([0, chartWidth]);
    var colors = d3.scale.linear().domain([0, max]).range(["#5fc2d3", "#4895A4"]);

    var chart = d3.select("#bio-followers")
        .attr("width", chartWidth)
        .attr("height", count * (barHeight + 10));

    var bar = chart.selectAll("g")
        .data(data)
        .enter().append("g")
        .attr("transform", function(d, i) { return "translate(0," + i * barHeight + ")"; });

    bar.append("rect")
        .attr("height", barHeight)
        .attr("y", function(d,i) {
          return i * 10;
        })
        .attr("x", function(d) { return chartWidth - x(d["count"]); })
        .attr("width", function(d) {
          return x(d["count"]) - 20;
        })
        .attr("fill", function(d){ return colors(d["count"]); });

    bar.append("text")
        .attr("x", function(d) { return chartWidth - 25; })
        .attr("y", function(d,i) {
          return (i*10) + barHeight * 0.5;
        })
        .attr("text-anchor", "end")
        .attr("dy", ".35em")
        .text(function(d) { return d["content"] + " (" + d["count"] + ")"; });

  </script>
<% end %>



