<div class="container-fluid">
  <div class="navigation">
    <ul class="list-unstyled list-inline">
      <li><%=link_to "Previous", candidate_path%></li>
      <li> <%=link_to "Next", candidate_path%></li>
    </ul>
  </div>
</div>

<div class="container-fluid">
<!-- display name on a separate row -->
  <div class="row">
    <div class="class profile">
      <div class="profile profile-name text-center">
        <h3><%= @candidate.name %> // @<%=@candidate.screen_name %></h3>
        <h4><%= @candidate.party %></h4>
      </div>

<!-- display profile info on the left -->
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="profile profile-info text-left">
          <p><%= image_tag @candidate.picture, class: "profile-info profile-picture" %></p>

          <p><%= @candidate.description %></p>
        </div>
      </div>


<!-- display metrics on the right -->
      <div class="col-xs-12 col-sm-6">
        <div class="profile profile-metrics">
          <ul class="list-unstyled text-left">
            <li><i class="fa fa-twitter"></i><span class="metric-number"> <%= @candidate.tweets_count%> </span>Tweets</li>
            <li><i class="fa fa-clock-o"></i> créé le <span class="metric-number"><%= @candidate.account_creation%></span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="padded"></div>
    </div>
  </div>
</div>
