<!-- THIS IS THE CANDIDATE SHOW VIEW -->

<!-- navigation arrows -->
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <div class="candidate-nav text-center">
        <%=link_to "Previous", candidate_path(@previous_id)%>
      </div>
    </div>

    <div class="col-xs-6 col-md-4 col-md-offset-4">
      <div class="candidate-nav text-center">
        <%=link_to "Next", candidate_path(@next_id)%>
      </div>
    </div>
  </div>

<!-- name and party -->
  <div class="row">
    <div class="class profile">
      <div class="profile profile-name text-center">
        <h3><%= @candidate.name %></h3>
        <h4><%= @candidate.party %></h4>
      </div>

    <div class="row">

<!-- profile picture-->
      <div class="col-xs-12 col-sm-4">
        <div class="profile profile-picture">
          <p><%= image_tag @candidate.picture, class: "profile-picture" %></p>
        </div>
      </div>

<!-- profile infos -->
      <div class="col-xs-12 col-sm-4">
        <div class="profile profile-info">
          <span id="screen-name"><p>@<%=@candidate.screen_name %></p></span>
          <p><%= @candidate.description %></p>
        </div>
      </div>


<!-- info metrics -->
      <div class="col-xs-12 col-sm-4">
        <div class="profile profile-metrics">
          <ul class="list-unstyled text-left">
            <li><i class="fa fa-twitter"></i><span class="metric-odd"> <%= @candidate.tweets_count%> </span>Tweets</li>
            <li><i class="fa fa-clock-o"></i> créé le <span class="metric-even"><%= @candidate.account_creation%></span></li>

            <!-- topwords -->
          </ul>

        </div>
      </div>
    </div>

<!-- Metrics: Topwords, top users retweeted and top hashtags -->
    <div class="row">
<!-- Topwords -->
      <div class="col-xs-12 col-sm-4">
        <p>Topwords</p>
        <ul class="list-unstyled metrics_list">
          <%@topwords_bio.each do |topword| %>
            <li><%=topword.content%> <span class="metric-even"><%=topword.count%></span> </li>
          <% end %>
        </ul>
      </div>

<!-- Top Users retweeted -->
      <div class="col-xs-12 col-sm-4">
        <p>Top users retweeted</p>
        <ul class="list-unstyled metrics_list">
          <% @users_retweeted_by_candidate.each do |user| %>
            <li> @<%=user.content%> : <%=user.count%> fois</li>
          <% end%>
        </ul>
      </div>

<!-- top hashtags in tweets -->
      <div class="col-xs-12 col-sm-4">
        <p>Les hashtages les plus tweetés par le candidat:</p>
        <ul class="list-unstyled metrics_list">
          <% @hashtags_in_tweets.each do |hashtag| %>
            <li> #<%=hashtag.content%> : <%=hashtag.count%> fois</li>
          <% end%>
        </ul>
      </div>
    </div>

<!-- OTHER METRICS -->
    <div class="row">

<!-- Top hashtags in retweets -->
    <% if false %>
      <div class="col-xs-12 col-sm-4">
        <p>Les hashtags les plus retweetés par le candidat :</p>
        <ul class="list-unstyled metrics_list">
          <% @hashtags_in_retweets.each do |hashtag| %>
            <li> #<%=hashtag.content%> : <%=hashtag.count%> fois</li>
          <% end%>
        </ul>
      </div>
    <% end %>
<!-- Top words in candidate tweets -->
      <div class="col-xs-12 col-sm-4">
        <p>Les mots que le candidat tweete le plus :</p>

        <ul class="list-unstyled metrics_list">
          <%@topwords_candidate_tweets.each do |word| %>
            <li><%=word.content%> <span class="metric-even"><%=word.count%></span> </li>
          <% end %>
        </ul>
      </div>

<% if false %>
      <div class="col-xs-12 col-sm-4">
        <p>Top hashtags</p>
        <ul class="list-unstyled metrics_list">
          <% @hashtags_in_candidate_tweets.each do |hashtag| %>
            <li> #<%=hashtag.content%> : <%=hashtag.count%> fois</li>
          <% end%>
        </ul>
      </div>
    </div>
  <% end %>

    <div class="padded"></div>
    </div>
  </div>
</div>
