<!-- THIS IS THE CANDIDATE SHOW VIEW -->

<!-- navigation arrows -->
<div class="container-fluid profile">
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <div class="candidate-nav text-center">
        <%=link_to "Previous", candidate_path(@previous_id)%>
      </div>
    </div>

    <div class="col-xs-6 col-md-4 col-md-offset-4">
      <div class="candidate-nav text-center">
        <%=link_to "Next", candidate_path(@next_id)%>
      </div>
    </div>
  </div>

  <!-- name and party -->
  <div class="row">
    <div class="class profile">
      <div class="profile profile-name text-center">
        <h3><%= @candidate.name %></h3>
        <h4><%= @candidate.party %></h4>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- profile picture-->
    <div class="col-xs-12 col-sm-2 col-sm-offset-1">
      <%= image_tag @candidate.picture, class: "img-responsive img-rounded" %>
    </div>

    <!-- profile infos -->
    <div class="col-xs-12 col-sm-5">
      <div class="profile profile-info">
        <span id="screen-name"><p>@<%=@candidate.screen_name %></p></span>
        <p><%= @candidate.description %></p>
      </div>
    </div>

    <!-- info metrics -->
    <div class="col-xs-12 col-sm-3">
      <div class="profile profile-metrics">
        <ul class="list-unstyled text-left">
          <li><i class="fa fa-twitter"></i><span class="metric-odd"> <%= @candidate.tweets_count%> </span>Tweets</li>
          <li><i class="fa fa-clock-o"></i> créé le <span class="metric-even"><%= @candidate.account_creation%></span></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- INTERACTIONS -->
  <div class="row">
    <div class="cols-xs-12 col-sm-5 col-sm-offset-1">
      <h2>Tweets du candidat</h2>
      <ul>
        <li><%= @retweets_on_candidate.average %> retweets en moyenne <span class="label label-default"><strong><%= @retweets_on_candidate.percentage %>%</strong> des tweets</span></li>
        <li><%= @favorites_on_candidate.average %> favoris en moyenne <span class="label label-default"><%= @favorites_on_candidate.percentage %>% des tweets</span></li>
        <li><%= @candidate_retweets.average %> retweets <span class="label label-default"><%= @candidate_retweets.percentage %>%  des tweets</span></li>
      </ul>

      <h2>Followers du candidat</h2>
      <ul>
        <li><%= @followers_followers.average %> followers en moyenne</li>
        <li><%= @followers_followers.percentage %>% des followers ayant plus de X followers</li>
        <li><%= @lists_containing_followers.average %> listes</li>
        <li><%= @lists_containing_followers.percentage %>% des followers sont dans des listes</li>
        <li><%= @followers_tweets.average %> tweets par follower.</li>
        <li><%= @followers_tweets.percentage %>% ont tweeté plus de 2000 fois.</li>
      </ul>
    </div>

    <div class="col-sm-5">

    </div>
  </div>

<!-- TOPWORDS -->
  <div class="row">
    <h3>Topwords ROW</h3>
    <!-- Topwords -->
    <div class="col-xs-12 col-md-2">
      <p>Topwords</p>
      <ul class="list-unstyled metrics metrics-list">
        <%@topwords_bio.each do |topword| %>
          <li><%=topword.content%> <span class="metric-even"><%=topword.count%></span> </li>
        <% end %>
      </ul>
    </div>

    <!-- Top Users retweeted -->
    <div class="col-xs-12 col-md-2">
      <p>Top users retweeted</p>
      <ul class="list-unstyled metrics metrics-list">
        <% @users_retweeted_by_candidate.each do |user| %>
          <li> @<%=user.content%> : <%=user.count%> fois</li>
        <% end%>
      </ul>
    </div>

    <!-- top hashtags in tweets -->
    <div class="col-xs-12 col-md-2">
      <p>Les hashtages les plus tweetés par le candidat:</p>
      <ul class="list-unstyled metrics metrics-list">
        <% @hashtags_in_tweets.each do |hashtag| %>
          <li> #<%=hashtag.content%> : <%=hashtag.count%> fois</li>
        <% end%>
      </ul>
    </div>

    <!-- Top hashtags in retweets -->
    <div class="col-xs-12 col-md-2">
        <p>Les hashtags les plus retweetés par le candidat :</p>
        <ul class="list-unstyled metrics metrics-list">
          <% @hashtags_in_retweets.each do |hashtag| %>
            <li> #<%=hashtag.content%>, <%=hashtag.count%> fois</li>
          <% end%>
        </ul>
    </div>


    <!-- Top mentions by candidate -->
    <div class="col-xs-12 col-md-2">
      <p>Les comptes que le candidat mentionne dans ses tweets</p>
      <ul class="list-unstyled metrics metrics-list">
        <%@top_candidate_mentions.each do |word| %>
          <li>@<%=word.content%>, <span class="metric-even"><%=word.count%>fois</span> </li>
        <% end %>
      </ul>
    </div>

    <!-- top mentions in candidate retweets -->
    <div class="col-xs-12 col-md-2">
      <p>Les comptes mentionnés dans les RT du candidat</p>
      <ul class="list-unstyled metrics metrics-list">
        <%@top_rt_mentions.each do |word| %>
          <li>@<%=word.content%>, <span class="metric-even"><%=word.count%>fois</span> </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>


<svg class="chart">
<svg>


<% content_for(:after_js) %>
  <script>
    var data = <%= @topwords_bio.to_json %>;
    var max = <%= @topwords_bio.map {|word| word[:count] }.max %>;
    var count = <%= @topwords_bio.count %>;

    var width = 500,
        barHeight = 25;

    var x = d3.scale.linear().domain([0, max]).range([0, 500]);
    var colors = d3.scale.linear().domain([0, max]).range(["blue", "red"]);

    var chart = d3.select(".chart")
        .attr("width", width)
        .attr("height", count * (barHeight + 10));

    var bar = chart.selectAll("g")
        .data(data)
        .enter().append("g")
        .attr("transform", function(d, i) { return "translate(0," + i * barHeight + ")"; });

    bar.append("rect")
        .attr("height", barHeight)
        .attr("y", function(d,i) {
          return i * 10;
        })
        .attr("x", 0)
        .attr("width", function(d) {
          return x(d["count"]);
        })
        .attr("fill", function(d){ return colors(d["count"]); });

    bar.append("text")
        .attr("x", function(d) { return x(d["count"]) - 5; })
        .attr("y", function(d,i) {
          return (i*10) + barHeight * 0.5;
        })
        .attr("text-anchor", "end")
        .attr("dy", ".35em")
        .text(function(d) { return d["content"]; });

  </script>
<% end %>

