
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <div class="candidate-nav text-center">
        <%=link_to "Previous", candidate_path(@previous_id)%>
      </div>
    </div>

    <div class="col-xs-6 col-md-4 col-md-offset-4">
      <div class="candidate-nav text-center">
        <%=link_to "Next", candidate_path(@next_id)%>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="class profile">
      <div class="profile profile-name text-center">
        <h3><%= @candidate.name %></h3>
        <h4><%= @candidate.party %></h4>
      </div>

<!-- display profile info on the left -->
    <div class="row">

<!-- PROFILE PICTURE -->

      <div class="col-xs-12 col-sm-4">
        <div class="profile profile-picture">
          <p><%= image_tag @candidate.picture, class: "profile-picture" %></p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="profile profile-info">
          <span id="screen-name"><p>@<%=@candidate.screen_name %></p></span>
          <p><%= @candidate.description %></p>
        </div>
      </div>


<!-- display metrics on the right -->
      <div class="col-xs-12 col-sm-4">
        <div class="profile profile-metrics">
          <ul class="list-unstyled text-left">
            <li><i class="fa fa-twitter"></i><span class="metric-odd"> <%= @candidate.tweets_count%> </span>Tweets</li>
            <li><i class="fa fa-clock-o"></i> créé le <span class="metric-even"><%= @candidate.account_creation%></span></li>

            <!-- topwords -->
          </ul>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <!-- What is this metric? -->
         <h5>Mots récurrents dans la bio de sa communauté: </h5>
      </div>
      <div class="col-xs-12 col-sm-4">
        <!-- The metric -->

        <ul class="list-unstyled topwords_bio">

            <%@topwords_bio.each do |topword| %>
              <li><%=topword.content%> <span class="metric-even"><%=topword.count%></span> </li>
            <% end %>
          </ul>
      </div>
      <div class="col-xs-12 col-sm-4">
        <!-- what it could mean? -->
      </div>
    </div>
    <div class="padded"></div>
    </div>
  </div>
  <svg class="chart">

  <svg>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<style>
.chart rect {
}

.chart text {
  fill: white;
  font: 17px sans-serif;
  text-anchor: end;
  text-transform: capitalize;
}
</style>
<script>


var data = <%= @topwords_bio.to_json %>;
var max = <%= @topwords_bio.map {|word| word[:count] }.max %>;
var count = <%= @topwords_bio.count %>;

var width = 500,
    barHeight = 25;

var x = d3.scale.linear().domain([0, max]).range([0, 500]);
var colors = d3.scale.linear().domain([0, max]).range(["blue", "red"]);

var chart = d3.select(".chart")
    .attr("width", width)
    .attr("height", count * (barHeight + 10));

var bar = chart.selectAll("g")
    .data(data)
    .enter().append("g")
    .attr("transform", function(d, i) { return "translate(0," + i * barHeight + ")"; });

bar.append("rect")
    .attr("height", barHeight)
    .attr("y", function(d,i) {
      return i * 10;
    })
    .attr("x", 0)
    .attr("width", function(d) {
      return x(d["count"]);
    })
    .attr("fill", function(d){ return colors(d["count"]); });

bar.append("text")
    .attr("x", function(d) { return x(d["count"]) - 5; })
    .attr("y", function(d,i) {
      return (i*10) + barHeight * 0.5;
    })
    .attr("text-anchor", "end")
    .attr("dy", ".35em")
    .text(function(d) { return d["content"]; });


</script>
