<!-- PAGE SHOW CANDIDAT -->
<div class="container-fluid">

  <!-- CARTE DE PROFIL DES CANDIDATS -->
  <div class="row">
    <div class="col-xs-12">
      <div class="card-stats card-stats-marged">
        <div class="row">
          <div class="id-card">

            <!-- profile picture-->
            <div class="col-xs-12 col-sm-4 col-md-2">
              <%= image_tag @candidate.picture, class: "profile-picture" %>
            </div>
            <!-- profile picture-->

            <!-- profile infos -->
            <div class="col-xs-12 col-sm-5 col-md-6">
              <h4><%= @candidate.name %></h4>
              <p><%= @candidate.party %></p>
              <%=link_to "https://twitter.com/#{@candidate.screen_name}", target: "_blank"  do %>
                <p>@<%=@candidate.screen_name %></p>
              <% end %>
              <p><%= @candidate.description %></p>
            </div>
            <!-- profile infos -->

            <!-- info metrics -->
            <div class="col-xs-12 col-sm-3 col-md-4">
              <div id="metrics">
                <p><i class="fa fa-clock-o"></i> <span class="metric-red"><%= @candidate.account_creation%></span></p>
                <p><i class="fa fa-twitter"></i> <span class="metric-red"><%= @candidate.tweets_count%></span>tweets</p>
                <p><i class="fa fa-users"></i> <span class="metric-red"><%= @candidate.followers_count %></span>followers</p>
                <p><i class="fa fa-users"></i> <span class="metric-red"><%= @candidate.following_count %></span>followings</p>
              </div>
            </div>
            <!-- info metrics -->

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- CARTE DE PROFIL DES CANDIDATS -->

  <!-- LIENS DE NAVIGATION -->
  <div class="row">
    <div id="navigation">

      <!-- Lien du candidat précédent -->
      <div class="col-xs-12 col-sm-4">
        <div class="candidate-nav text-center">
          <%=link_to candidate_path(@previous_id) do %>
            <i class="fa fa-arrow-left"></i>
            <%= Candidate.find(@previous_id).name %>
          <% end %>
        </div>
      </div>
      <!-- Lien du candidat précédent -->

      <!-- Lien page de comparaison -->
      <div class="col-xs-12 col-sm-4">
        <div class="text-center">
          <%= link_to "Comparer les candidats", compare_path, class: "btn btn-danger", id:"comparebtn" %>
        </div>
      </div>
      <!-- Lien page de comparaison -->

      <!-- Lien du candidat suivant -->
      <div class="col-xs-12 col-sm-4">
        <div class="candidate-nav text-center">
          <%=link_to candidate_path(@next_id) do %>
            <%= Candidate.find(@next_id).name %>
            <i class="fa fa-arrow-right"></i>
          <% end %>
        </div>
      </div>
      <!-- Lien du candidat suivant -->

    </div>
  </div>
  <!-- LIENS DE NAVIGATION -->

  <!-- CARTES D'ANALYSE -->
  <!--  Sa communauté -->
  <div class="row">
    <div class="col-xs-12">
      <div class="card-stats">
        <div class="row">

          <!-- Cartes de data -->
          <div class="cols-xs-12 col-md-6">
            <h2>Sa communauté</h2>
            <div class="row">

              <!-- Carte 1 -->
              <div class="col-xs-12 col-sm-6">
                <div class="mini-box">
                  <p><i class="fa fa-comment"></i> <span class="number"><%= @followers_tweets.average %></span></p>
                  <p>nombre moyen de tweets de chaque abonné</p>
                </div>
              </div>
              <!-- Carte 1 -->

              <!-- Carte 2 -->
              <div class="col-xs-12 col-sm-6">
                <div class="mini-box">
                  <p><i class="fa fa-users"></i> <span class="number"><%= @followers_followers.average %></span></p>
                  <p>nombre moyen d'abonnés de chaque abonné</p>
                </div>
              </div>
              <!-- Carte 2 -->

              <!-- Carte 3 -->
              <div class="col-xs-12 col-sm-6">
                <div class="mini-box">
                  <p><span class="number"><%= @followers_tweets.percentage %>%</span></p>
                  <p>de ses abonnés ont tweeté plus de 2000 fois</p>
                </div>
              </div>
              <!-- Carte 3 -->

              <!-- Carte 4 -->
              <div class="col-xs-12 col-sm-6">
                <div class="mini-box">
                  <p><span class="number"><%= 100 - @followers_followings.percentage %>%</span></p>
                  <p>de ses abonnés suivent moins de 50 personnes</p>
                </div>
              </div>
              <!-- Carte 4 -->

            </div>
          </div>
          <!-- Cartes de data -->

          <!-- Graphique -->
          <div class="col-xs-12 col-md-6">
            <h2>Les termes qui apparaissent le plus dans la bio des followers du candidat :</h2>
            <% if @topwords_bio.length < 20 %>
              <div class="flexed">
                <div id="talkbubble">
                  <p class="text-center">Désolé, les données disponibles sont insuffisantes pour vous montrer des résultats pertinents...</p>
                </div>
                <i class="fa fa-twitter" id="birdy"></i>
              </div>
            <% else %>
              <svg class="chart" id="bio-followers"></svg>
            <% end %>
          </div>
          <!-- Graphique -->

        </div>
      </div>
    </div>
  </div>
  <!--  Sa communauté -->

  <!-- Ses expressions -->
  <div class="row">
    <div class="col-xs-12">
      <div class="card-stats" data-sr="over 1s">
        <div class="row">

          <!-- Cartes de data -->
          <div class="col-xs-12 col-md-6">
            <h2>Son compte</h2>
            <div class="row">

              <!-- Carte 1 -->
              <div class="col-xs-12 col-sm-6">
                <div class="mini-box">
                  <p><i class="fa fa-retweet"></i><span class="number"> <%= @retweets_on_candidate.average %></span></p>
                  <p>retweets par tweet</p>
                </div>
              </div>
              <!-- Carte 1 -->

              <!-- Carte 2 -->
              <div class="col-xs-12 col-sm-6">
                <div class="mini-box">
                  <p><i class="fa fa-star"></i><span class="number"> <%= @favorites_on_candidate.average %></span></p>
                  <p>favoris par tweet</p>
                </div>
              </div>
              <!-- Carte 2 -->

              <!-- Carte 3 -->
              <div class="col-xs-12 col-sm-6">
                <div class="mini-box">
                  <p><span class="number"> <%= @retweets_on_candidate.percentage %>%</span></p>
                  <p>de tweets retweetés au moins 10 fois</p>
                </div>
              </div>
              <!-- Carte 3 -->

              <!-- Carte 4 -->
              <div class="col-xs-12 col-sm-6">
                <div class="mini-box">
                  <p><span class="number"><%= @favorites_on_candidate.percentage %>% </span></p>
                  <p>de tweets favs au moins 5 fois</p>
                </div>
              </div>
              <!-- Carte 4 -->

            </div>
          </div>
          <!-- Cartes de data -->

          <!-- Graphique -->
          <div class="col xs-12 col-md-6">
            <h2>Les hashtags que ce candidat utilise le plus :</h2>
            <% if @hashtags_in_tweets.length < 5 %>
              <div class="flexed">
                <div id="talkbubble">
                  <p class="text-center">Désolé, les données disponibles sont insuffisantes pour vous montrer des résultats pertinents...</p>
                </div>
                <i class="fa fa-twitter" id="birdy"></i>
              </div>
            <% else %>
              <svg class="chart" id="tweet-hashtags"></svg>
            <% end %>
          </div>
          <!-- Graphique -->

        </div>
      </div>
    </div>
  </div>
  <!-- Ses expressions -->

  <!-- Ses interactions -->
  <div class="row">
    <div class="col-xs-12">
      <div class="card-stats" data-sr="over 1s">
        <div class="row">

          <!-- Cartes de data -->
          <div class="cols-xs-12 col-md-6">
            <h2>Ses interactions</h2>
            <div class="row">

              <!-- Carte 1 -->
              <div class="col-xs-12 col-sm-6">
                <div class="mini-box">
                  <p><i class="fa fa-retweet"></i><span class="number"> <%= @candidate_retweets.average %></span></p>
                  <p>retweets émis par le candidat</p>
                </div>
              </div>
              <!-- Carte 1 -->

              <!-- Carte 2 -->
              <div class="col-xs-12 col-sm-6">
                <div class="mini-box">
                  <p>Le plus retwetté : <span id="mention"> @<%= @users_retweeted_by_candidate.first[:content] %></span></p>
                  <p><i class="fa fa-retweet"></i><span class="number"> <%= @users_retweeted_by_candidate.first[:count] %></span> fois</p>
                </div>
              </div>
              <!-- Carte 2 -->

              <!-- Carte 3 -->
              <div class="col-xs-12 col-sm-6">
                <div class="mini-box">
                  <p><span class="number"><%= @candidate_retweets.percentage %>%</span></p>
                  <p>de ses tweets sont des retweets</p>
                </div>
              </div>
              <!-- Carte 3 -->

              <!-- Carte 4 -->
              <!-- <div class="col-xs-6"> -->
                <!-- <div class="mini-box"> -->
                  <!-- <p>???</p> -->
                  <!-- <p>???</p> -->
                <!-- </div> -->
              <!-- </div> -->
              <!-- Carte 4 -->

            </div>
          </div>
          <!-- Cartes de data -->

          <!-- Graphique -->
          <div class="col-xs-12 col-md-6">
          <h2>Les comptes que le candidat mentionne le plus :</h2>
            <% if @top_candidate_mentions.length < 5 %>
              <div class="flexed">
                <div id="talkbubble">
                  <p class="text-center">Désolé, les données disponibles sont insuffisantes pour vous montrer des résultats pertinents...</p>
                </div>
                <i class="fa fa-twitter" id="birdy"></i>
              </div>
            <% else %>
              <svg class="chart" id="tweet-mentions"></svg>
            <% end %>
          </div>
          <!-- Graphique -->

        </div>
      </div>
    </div>
  </div>
  <!-- Ses interactions -->

  <!-- LIENS DE NAVIGATION -->
  <div class="row">
    <div id="navigation">

      <!-- Lien vers candidat précédant -->
      <div class="col-xs-6 col-sm-4">
        <div class="candidate-nav text-center">
          <%=link_to candidate_path(@previous_id) do %>
            <i class="fa fa-arrow-left"></i>
            <%= Candidate.find(@previous_id).name %>
          <% end %>
        </div>
      </div>
      <!-- Lien vers candidat précédant -->

      <!-- Lien vers candidat suivant -->
      <div class="col-xs-6 col-sm-4 col-sm-offset-4">
        <div class="candidate-nav text-center">
          <%=link_to candidate_path(@next_id) do %>
            <%= Candidate.find(@next_id).name %>
            <i class="fa fa-arrow-right"></i>
          <% end %>
        </div>
      </div>
      <!-- Lien vers candidat suivant -->

    </div>
  </div>
  <!-- LIENS DE NAVIGATION -->

</div>

<!-- JS pour les charts -->
<!-- Chart #tweet-hashtags -->
<% content_for(:after_js) do %>
  <script>
    var chartWidth = $('#tweet-hashtags').parent().width()
    var barHeight = 25;
    var data = <%= @hashtags_in_tweets.take(10).to_json.html_safe %>;
    var max = <%= @hashtags_in_tweets.take(10).map {|word| word[:count] }.max %>;
    var min = <%= @hashtags_in_tweets.take(10).map {|word| word[:count] }.min %>;
    var count = 10;
    var x = d3.scale.linear().domain([0, max]).range([0, chartWidth]);
    var colors = d3.scale.linear().domain([0, max]).range(["#5778c1","#3E5A9A"]);
    var chart = d3.select("#tweet-hashtags")
        .attr("width", chartWidth)
        .attr("height", count * (barHeight + 10));
    var bar = chart.selectAll("g")
        .data(data)
        .enter().append("g")
        .attr("transform", function(d, i) { return "translate(0," + i * barHeight + ")"; });

    bar.append("rect")
        .attr("height", barHeight)
        .attr("y", function(d,i) {
          return i * 10;
        })
        .attr("x", function(d) { return 0; })
        .attr('fill', "#E1E1E1")
        .attr("width", function(d) {
          return chartWidth - x(d["count"]);
        })
        .attr("rx", "4")
        .attr("ry", "4");

    bar.append("rect")
        .attr("height", barHeight)
        .attr("y", function(d,i) {
          return i * 10;
        })
        .attr("x", function(d) { return chartWidth - x(d["count"]); })
        .attr("width", function(d) {
          return x(d["count"]) - 20;
        })
        .attr("fill", function(d){ return colors(d["count"]); })
        .attr("rx", "4")
        .attr("ry", "4");

    bar.append("text")
        .attr("x", function(d) { return chartWidth - 25; })
        .attr("y", function(d,i) {
          return (i*10) + barHeight * 0.5;
        })
        .attr("text-anchor", "end")
        .attr("dy", ".35em")
        .text(function(d) { return "#" + d["content"] + " (" + d["count"] + ")"; });
  </script>

<!-- Chart #tweets-mentions -->
  <script>
    var chartWidth = $('#tweet-mentions').parent().width()
    var barHeight = 25;
    var data = <%= @top_candidate_mentions.take(10).to_json.html_safe %>;
    var max = <%= @top_candidate_mentions.take(10).map {|word| word[:count] }.max %>;
    var count = 10;
    var x = d3.scale.linear().domain([0, max]).range([0, chartWidth]);
    var colors = d3.scale.linear().domain([0, max]).range(["#e8848e", "#D44D5C"]);
    var chart = d3.select("#tweet-mentions")
        .attr("width", chartWidth)
        .attr("height", count * (barHeight + 10));
    var bar = chart.selectAll("g")
        .data(data)
        .enter().append("g")
        .attr("transform", function(d, i) { return "translate(0," + i * barHeight + ")"; });

    bar.append("rect")
        .attr("height", barHeight)
        .attr("y", function(d,i) {
          return i * 10;
        })
        .attr("x", function(d) { return 0; })
        .attr('fill', "#E1E1E1")
        .attr("width", function(d) {
          return chartWidth - x(d["count"]);
        })
        .attr("rx", "4")
        .attr("ry", "4");

    bar.append("rect")
        .attr("height", barHeight)
        .attr("y", function(d,i) {
          return i * 10;
        })
        .attr("x", function(d) { return chartWidth - x(d["count"]); })
        .attr("width", function(d) {
          return x(d["count"]) - 20;
        })
        .attr("fill", function(d){ return colors(d["count"]); })
        .attr("rx", "4")
        .attr("ry", "4");

    bar.append("text")
        .attr("x", function(d) { return chartWidth - 25; })
        .attr("y", function(d,i) {
          return (i*10) + barHeight * 0.5;
        })
        .attr("text-anchor", "end")
        .attr("dy", ".35em")
        .text(function(d) { return "@" + d["content"] + " (" + d["count"] + ")"; });
  </script>

<!-- Chart #bio-followers -->
  <script>
    var chartWidth = $('#bio-followers').parent().width()
    var barHeight = 25;
    var data = <%= @topwords_bio.take(10).to_json.html_safe %>;
    var max = <%= @topwords_bio.take(10).map {|word| word[:count] }.max %>;
    var count = 10;
    var x = d3.scale.linear().domain([0, max]).range([0, chartWidth]);
    var colors = d3.scale.linear().domain([0, max]).range(["#5fc2d3", "#4895A4"]);
    var chart = d3.select("#bio-followers")
        .attr("width", chartWidth)
        .attr("height", count * (barHeight + 10));
    var bar = chart.selectAll("g")
        .data(data)
        .enter().append("g")
        .attr("transform", function(d, i) { return "translate(0," + i * barHeight + ")"; });

    bar.append("rect")
        .attr("height", barHeight)
        .attr("y", function(d,i) {
          return i * 10;
        })
        .attr("x", function(d) { return 0; })
        .attr('fill', "#E1E1E1")
        .attr("width", function(d) {
          return chartWidth - x(d["count"]);
        })
        .attr("rx", "4")
        .attr("ry", "4");

    bar.append("rect")
        .attr("height", barHeight)
        .attr("y", function(d,i) {
          return i * 10;
        })
        .attr("x", function(d) { return chartWidth - x(d["count"]); })
        .attr("width", function(d) {
          return x(d["count"]) - 20;
        })
        .attr("fill", function(d){ return colors(d["count"]); })
        .attr("rx", "4")
        .attr("ry", "4");

    bar.append("text")
        .attr("x", function(d) { return chartWidth - 25; })
        .attr("y", function(d,i) {
          return (i*10) + barHeight * 0.5;
        })
        .attr("text-anchor", "end")
        .attr("dy", ".35em")
        .text(function(d) { return d["content"] + " (" + d["count"] + ")"; });
  </script>
<% end %>
