<!-- THIS IS THE CANDIDATE SHOW VIEW -->
<div class="padded-top">
<!-- navigation arrows -->
  <div class="container-fluid profile">
    <div class="row">
      <div class="col-xs-6 col-md-4">
        <div class="candidate-nav text-center">
          <%=link_to "Previous", candidate_path(@previous_id)%>
        </div>
      </div>

      <div class="col-xs-6 col-md-4 col-md-offset-4">
        <div class="candidate-nav text-center">
          <%=link_to "Next", candidate_path(@next_id)%>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="presentation">

        <!-- profile picture-->
        <div class="col-xs-12 col-sm-2 col-sm-offset-1 ">
          <%= image_tag @candidate.picture, class: "profile-picture" %>
        </div>

        <!-- profile infos -->
        <div class="col-xs-12 col-sm-5">
          <div class="profile profile-info">
            <h4><%= @candidate.name %></h4>
            <p><%= @candidate.party %></p>
            <span id="screen-name"><p>@<%=@candidate.screen_name %></p></span>
            <p><%= @candidate.description %></p>
          </div>
        </div>

        <!-- info metrics -->
        <div class="col-xs-12 col-sm-3">
          <div class="profile profile-metrics">
            <ul class="list-unstyled text-left">
              <li><i class="fa fa-twitter"></i><span class="metric-red"> <%= @candidate.tweets_count%> </span>Tweets</li>
              <li><i class="fa fa-clock-o"></i> créé le <span class="metric-blue"><%= @candidate.account_creation%></span></li>
            </ul>
          </div>
        </div>

      </div>
    </div>

    <!-- SES EXPRESSIONS -->
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="card-stats">
          <div class="row">
            <div class="col-xs-6">
              <h2>Son Compte</h2>

              <div class="row">
                <div class="col-xs-6">
                  <div class="mini-box">
                    <p><i class="fa fa-retweet"></i><span class="number"> <%= @retweets_on_candidate.average %></span></p>
                    <p>Retweets par tweet.</p>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="mini-box">
                    <p><i class="fa fa-star"></i><span class="number"> <%= @favorites_on_candidate.average %></span></p>
                    <p>Favoris par tweet.</p>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="mini-box">
                   <p><span class="number"> <%= @retweets_on_candidate.percentage %>%</span></p>
                   <p>de tweets retweetés au moins X fois</p>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="mini-box">
                    <p><span class="number"><%= @favorites_on_candidate.percentage %>% </span></p>
                     <p>de tweets favs au moins X fois</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col xs-6 col-sm-6">
              <h2 class="pull-right">Les hashtags que ce candidat utilise le plus (par nombre d'occurences):</h2>
              <svg class="chart" id="tweet-hashtags">
              </svg>
            </div>

          </div>
        </div>
      </div>
    </div>

  <!-- SES INTERACTIONS -->
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="card-stats" data-sr="over 2s">

          <div class="row">
            <div class="cols-xs-12 col-sm-6">
              <h2>Ses interactions</h2>

              <div class="row">
                <div class="col-xs-6">
                  <div class="mini-box">
                    <p><i class="fa fa-retweet"></i><span class="number"> <%= @candidate_retweets.average %></span></p>
                    <p>RT émis par le candidat</p>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="mini-box">
                    <p><span class="number"> @<%= @users_retweeted_by_candidate.first[:content] %></span></p>
                    <p>RT <span class="number"> <%= @users_retweeted_by_candidate.first[:count] %> </span>fois</p>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="mini-box">
                   <p><span class="number"><%= @candidate_retweets.percentage %>%</span></p>
                   <p>de ses tweets sont des RT</p>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="mini-box">
                  <p>???</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <h2 class="pull-right">Les comptes que le candidat mentionne le plus:</h2>
              <svg class="chart" id="tweet-mentions">
              </svg>
            </div>

          </div>
        </div>
      </div>
    </div>

   <!--  Sa communauté -->
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="card-stats" data-sr="over 2s">
          <div class="row">
            <div class="cols-xs-12 col-sm-6">
              <h2>Sa communauté</h2>

              <div class="row">
                <div class="col-xs-6">
                  <div class="mini-box">
                    <p><i class="fa fa-comment"></i><span class="number"> <%= @followers_tweets.average %></span></p>
                    <p>tweets émis en moyenne par chaque follower</p>

                    <% if false %>
                      <p><%= @followers_tweets.percentage %>% de ses followers ont tweeté plus de 2000 fois</p>
                    <% end %>
                  </div>
                </div>

                <div class="col-xs-6">
                  <div class="mini-box">
                    <p><i class="fa fa-users"></i><span class="number"> <%= @followers_followers.average %></span>
                    </p>
                    <p>nombre moyen de followers de ses followers</p>
                    <% if false %>
                      <p><%= @followers_followers.percentage %>% ont plus de 1000 followers</p>
                    <% end %>
                  </div>
                </div>

                <div class="col-xs-6">
                  <div class="mini-box">
                    <p>Ses followers appartiennent à <span class="number"> <%= @lists_containing_followers.average %></span> listes en moyenne.</p>
                  </div>
                </div>

                <div class="col-xs-6">
                  <div class="mini-box">
                    <p><%= @lists_containing_followers.percentage %>% de ses followers appartiennent à au moins 20 listes.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-6 col-sm-6">
              <h2 class="pull-right">Les termes qui apparaissent le plus dans la bio des followers du candidat:</h2>
              <svg class="chart" id="bio-followers">
              </svg>
            </div>

          </div>
        </div>
      </div>
    </div>


  </div





<!-- JS pour les charts -->

<!-- Chart #tweet-hashtags -->
<% content_for(:after_js) do %>
  <script>

    if (window.innerWidth < 768) {
      var chartWidth = window.innerWidth * 0.9;
    }
    else {
      var chartWidth = window.innerWidth * 0.4;
    }

    var barHeight = 25;

    var data = <%= @hashtags_in_tweets.take(10).to_json.html_safe %>;
    var max = <%= @hashtags_in_tweets.take(10).map {|word| word[:count] }.max %>;
    var min = <%= @hashtags_in_tweets.take(10).map {|word| word[:count] }.min %>;
    var count = 10;

    var x = d3.scale.linear().domain([0, max]).range([0, chartWidth]);
    var colors = d3.scale.linear().domain([0, max]).range(["#5778c1","#3E5A9A"]);

    var chart = d3.select("#tweet-hashtags")
        .attr("width", chartWidth)
        .attr("height", count * (barHeight + 10));

    var bar = chart.selectAll("g")
        .data(data)
        .enter().append("g")
        .attr("transform", function(d, i) { return "translate(0," + i * barHeight + ")"; });

    bar.append("rect")
        .attr("height", barHeight)
        .attr("y", function(d,i) {
          return i * 10;
        })
        .attr("x", function(d) { return 0; })
        .attr('fill', "#E1E1E1")
        .attr("width", function(d) {
          return 500 - x(d["count"]) + 20;
        })
        .attr("rx", "4")
        .attr("ry", "4");

    bar.append("rect")
        .attr("height", barHeight)
        .attr("y", function(d,i) {
          return i * 10;
        })
        .attr("x", function(d) { return chartWidth - x(d["count"]); })
        .attr("width", function(d) {
          return x(d["count"]) - 20;
        })
        .attr("fill", function(d){ return colors(d["count"]); })
        .attr("rx", "4")
        .attr("ry", "4");

    bar.append("text")
        .attr("x", function(d) { return chartWidth - 25; })
        .attr("y", function(d,i) {
          return (i*10) + barHeight * 0.5;
        })
        .attr("text-anchor", "end")
        .attr("dy", ".35em")
        .text(function(d) { return d["content"] + " (" + d["count"] + ")"; });

  </script>
<% end %>

<!-- Chart #tweets-mentions -->
<% content_for(:after_js) do %>
  <script>

    if (window.innerWidth < 768) {
      var chartWidth = window.innerWidth * 0.9;
    }
    else {
      var chartWidth = window.innerWidth * 0.4;
    }

    var barHeight = 25;

    var data = <%= @top_candidate_mentions.take(10).to_json.html_safe %>;
    var max = <%= @top_candidate_mentions.take(10).map {|word| word[:count] }.max %>;
    var count = 10;

    var x = d3.scale.linear().domain([0, max]).range([0, chartWidth]);
    var colors = d3.scale.linear().domain([0, max]).range(["#e8848e", "#D44D5C"]);

    var chart = d3.select("#tweet-mentions")
        .attr("width", chartWidth)
        .attr("height", count * (barHeight + 10));

    var bar = chart.selectAll("g")
        .data(data)
        .enter().append("g")
        .attr("transform", function(d, i) { return "translate(0," + i * barHeight + ")"; });

    bar.append("rect")
        .attr("height", barHeight)
        .attr("y", function(d,i) {
          return i * 10;
        })
        .attr("x", function(d) { return 0; })
        .attr('fill', "#E1E1E1")
        .attr("width", function(d) {
          return 500 - x(d["count"]) + 20;
        })
        .attr("rx", "4")
        .attr("ry", "4");

    bar.append("rect")
        .attr("height", barHeight)
        .attr("y", function(d,i) {
          return i * 10;
        })
        .attr("x", function(d) { return chartWidth - x(d["count"]); })
        .attr("width", function(d) {
          return x(d["count"]) - 20;
        })
        .attr("fill", function(d){ return colors(d["count"]); })
        .attr("rx", "4")
        .attr("ry", "4");

    bar.append("text")
        .attr("x", function(d) { return chartWidth - 25; })
        .attr("y", function(d,i) {
          return (i*10) + barHeight * 0.5;
        })
        .attr("text-anchor", "end")
        .attr("dy", ".35em")
        .text(function(d) { return d["content"] + " (" + d["count"] + ")"; });

  </script>
<% end %>

<!-- Chart #bio-followers -->
<% content_for(:after_js) do %>
  <script>

    if (window.innerWidth < 768) {
      var chartWidth = window.innerWidth * 0.9;
    }
    else {
      var chartWidth = window.innerWidth * 0.4;
    }

    var barHeight = 25;

    var data = <%= @topwords_bio.take(10).to_json.html_safe %>;
    var max = <%= @topwords_bio.take(10).map {|word| word[:count] }.max %>;
    var count = 10;

    var x = d3.scale.linear().domain([0, max]).range([0, chartWidth]);
    var colors = d3.scale.linear().domain([0, max]).range(["#5fc2d3", "#4895A4"]);

    var chart = d3.select("#bio-followers")
        .attr("width", chartWidth)
        .attr("height", count * (barHeight + 10));

    var bar = chart.selectAll("g")
        .data(data)
        .enter().append("g")
        .attr("transform", function(d, i) { return "translate(0," + i * barHeight + ")"; });

    bar.append("rect")
        .attr("height", barHeight)
        .attr("y", function(d,i) {
          return i * 10;
        })
        .attr("x", function(d) { return 0; })
        .attr('fill', "#E1E1E1")
        .attr("width", function(d) {
          return 500 - x(d["count"]) + 20;
        })
        .attr("rx", "4")
        .attr("ry", "4");

    bar.append("rect")
        .attr("height", barHeight)
        .attr("y", function(d,i) {
          return i * 10;
        })
        .attr("x", function(d) { return chartWidth - x(d["count"]); })
        .attr("width", function(d) {
          return x(d["count"]) - 20;
        })
        .attr("fill", function(d){ return colors(d["count"]); })
        .attr("rx", "4")
        .attr("ry", "4");

    bar.append("text")
        .attr("x", function(d) { return chartWidth - 25; })
        .attr("y", function(d,i) {
          return (i*10) + barHeight * 0.5;
        })
        .attr("text-anchor", "end")
        .attr("dy", ".35em")
        .text(function(d) { return d["content"] + " (" + d["count"] + ")"; });

  </script>
<% end %>



