
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <div class="candidate-nav text-center">
        <%=link_to "Previous", candidate_path(@previous_id)%>
      </div>
    </div>

    <div class="col-xs-6 col-md-4 col-md-offset-4">
      <div class="candidate-nav text-center">
        <%=link_to "Next", candidate_path(@next_id)%>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="class profile">
      <div class="profile profile-name text-center">
        <h3><%= @candidate.name %></h3>
        <h4><%= @candidate.party %></h4>
      </div>

<!-- display profile info on the left -->
    <div class="row">

<!-- PROFILE PICTURE -->
      <div class="col-xs-12 col-sm-4">
        <div class="profile profile-picture">
          <p><%= image_tag @candidate.picture, class: "profile-picture" %></p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="profile profile-info">
          <span id="screen-name"><p>@<%=@candidate.screen_name %></p></span>
          <p><%= @candidate.description %></p>
        </div>
      </div>

<!-- display metrics on the right -->
      <div class="col-xs-12 col-sm-4">
        <div class="profile profile-metrics">
          <ul class="list-unstyled text-left">
            <li><i class="fa fa-twitter"></i><span class="metric-odd"> <%= @candidate.tweets_count%> </span>Tweets</li>
            <li><i class="fa fa-clock-o"></i> créé le <span class="metric-even"><%= @candidate.account_creation%></span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="padded"></div>
    </div>
  </div>
</div>
